header .gouwu p:nth-child(2){
	display: none;
}
header{
	width: 100%;
	height: 50px;
	position: relative;
}
header .gouwu{
	height: 50px;
	line-height: 50px;
	border-left: 1px solid #ccc;
	width: 185px;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 65%;
}
header img{
	position: absolute;
	left: 20px;
	top: 10px;
}
header .biao{
	margin-left: 120px;
	padding-top: 10px;
}
header .gouwu p:nth-child(4){
	margin-right: -20px;
}
header .gouwu p{
	margin-right: 15px;
	font-size: 16px;
	margin-top: 10px;
	display: inline
}
header div a{
	margin-left: 45px;
	color: #000;
}
.banner p img{
	width: 100%;
}
.banner{
	position: relative;
}
.banner p:nth-child(2){
	display: none;
}
.bann2{
	width: 285px;
	position: absolute;
	top: 20%;
	left: 10%;
}
.bann2 h5{
	margin-bottom: 10px;
	font-size: 18px;
	padding-top: 90px;
}
.bann2 p{
	line-height: 40px;
	font-size: 14px;
}
.bann2 p:nth-child(3){
	text-align: center;
	margin-left: -65px;
}
.bann2 p span2{
	width: 123px;
	margin-right: 10%;
	line-height: 40px;
	color: #fff;
	height: 40px;
	display: inline-block;
	background-color: #000;
}
.center2{
	display: none;
}
.center ul{
	float: left;
	height: 250%;
}
.center .shang{
	margin-left: 3.5%;
	margin-right: 0.5%;
}
.center .shang ul li{
	width: 100%;
}
.center .shang ul li img{
	width: 100%;
}
.center .shang ul:nth-child(2){
	margin-left: 2%;
}
.center .shang ul{
	width: 47%;
}
.center .xia{
	margin-left: 3.5%;
	margin-right: 0.5%;
}
.center .xia ul li{
	width: 100%;
}
.center .xia ul li img{
	width: 100%;
}
.center .xia ul:nth-child(2){
	margin-left: 2%;
}
.center .xia ul{
	width: 47%;
}
.center ul li{
	width: 100%;
	margin-top: 10px;
}
.center ul li a{
	color: #000;
}
.center ul li:nth-child(2){
	font-size: 18px;
}
.center ul li:nth-child(3){
	font-size: 14px;
}
.center ul li:nth-child(4) a{
	color: blue;
}
.bann3 .a2{
	display: none;
}
.bann3 img{
	width: 100%;
}
.shangcheng{
	text-align: center;
	width: 100%;
	height: 277px;
	background-color: #333333;
}
.shangcheng h5{
	color: #fff;
	font-size: 17px;
	padding-top: 80px;
}
.shangcheng p{
	margin-top: 10px;
	font-size: 14px;
	color: #fff;
}

.didian ul{
	float: left;
	height: 250%;
}
.didian .shang{
	margin-left: 3.5%;
	margin-right: 0.5%;
}
.didian .shang ul li{
	width: 100%;
}
.didian .shang ul li img{
	width: 100%;
}
.didian .shang ul:nth-child(2){
	margin-left: 2%;
}
.didian .shang ul{
	width: 47%;
}
.didian .xia{
	margin-left: 3.5%;
	margin-right: 0.5%;
}
.didian .xia ul li{
	width: 100%;
}
.didian .xia ul li img{
	width: 100%;
}
.didian .xia ul:nth-child(2){
	margin-left: 2%;
}
.didian .xia ul{
	width: 47%;
}
.didian ul li{
	width: 100%;
	margin-top: 10px;
}
.didian ul li a{
	color: #000;
}
.didian ul li:nth-child(2){
	font-size: 18px;
}
.didian ul li:nth-child(3){
	font-size: 14px;
}
.didian ul li:nth-child(4) a{
	color: blue;
}
.didian h4{
	margin-top: 10px;
	margin-left: 3.5%;
}
.didian2{
	display: none;
}
.weiruan img{
	width: 100%;
}
.weiruan{
	margin-top: 50px;
}
.weiruan .a2{
	display: none;
}
.weiz{
	text-align: center;
	width: 100%;
	height: 277px;
	background-color: #ccc;
}
.weiz h5{
	color: #000;
	font-size: 17px;
	padding-top: 80px;
}
.weiz p{
	margin-top: 10px;
	font-size: 14px;
	color: #000;
}
.weiz p span2{
	width: 123px;
	line-height: 40px;
	color: #fff;
	height: 40px;
	display: inline-block;
	background-color: #000;
}
.guan{
	height: 50px;
	line-height: 100px;
	font-weight: normal;
}
.guan img{
	margin-top: 35px;
	margin-left: 10px;
	width: 40px;
}
.footer{
	background-color: #F2F2F2;
	margin-top: 50px;
}
.footer div {
	width: 30%;
	float: left;
	color: #778E8E;
	padding-top: 20px;
}
.footer div:nth-child(3){
	margin-right: 0%;
}
.footer div:nth-child(6){
	margin-right: 0%;
}
.footer div p{
	font-weight: normal;
	font-size: 14px;
}
.footer1{
	display: none;
}
.dib{
	font-weight: normal;
}